body {
	background-color: rgb(83, 3, 83);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: antiquewhite
}

#familiar {
	height: 200px;
}

img {
	width: auto;
	max-height: 100%;
}

footer.copyright {
	color: antiquewhite;
	width: 60%;
	left: 30%;
	right: 30%;
}