body {
	background-color: rgb(83, 3, 83);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: antiquewhite;
	max-width: 500px;
	margin: auto;
	text-align: center;
}

#familiar {
	height: 200px;
}

img {
	width: auto;
	max-height: 100%;
}

#search-spells {
	background-color: black;
	height:100px; 
}

#spells-container {
	background-color: black;
}

footer.copyright {
	color: antiquewhite;
	/* position:absolute;
	bottom:0;
	height:60px; */
	padding: 20px;
	text-align: center;
}