body {
	/* background-color: rgb(83, 3, 83); */
	background-image: url("https://images.pexels.com/photos/3214110/pexels-photo-3214110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	/* background-repeat: no-repeat; */
	background-size:cover;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: antiquewhite;
	max-width: 500px;
	margin: auto;
	text-align: center;
}

#familiar {
	height: 200px;
}

img {
	width: auto;
	max-height: 100%;
}

#search-spells {
	background-color: black;
	height:100px; 
}

#spells-container {
	background-color: black;
}

footer.copyright {
	color: antiquewhite;
	/* position:absolute;
	bottom:0;
	height:60px; */
	padding: 20px;
	text-align: center;
}